<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola {{name}}</h1>
    <h3>Categorías</h3>
    <p>{{categories}}</p>
    <ul>
        {# this is a single line comment #}
        {% comment %}
        In the inferior lines we show the different categories and mark in bold the category in the case of code
        {% endcomment%}
        {% for category in categories %}
            {% if category == 'code' %}
                <li><b>{{ category|upper }}</b></li>
            {% else %} 
                <li>{{ category }}</li>
            {% endif %}    
        {% endfor %}
        <h5>Total number of categories: {{categories|length}}</h5>
    </ul>
</body>
</html>